@use '../../scss/breackpoint' as *;

.movie-list{
    .swiper-slide {
        width: 15% !important;
    }
    @include tablet {
        width: 30%;
    }
    @include mobile {
        width: 40%;
    }
}

.like-movie {
    position: absolute;
    top: 16px;
    right: 13px;
}