@use '../../scss/breackpoint' as *;
@use "../../scss/" as *;
.movie-list{
    .swiper-slide {
        width: 15%;
        @include mobile {
            width: 50% !important ;
            
        }
    }
 
}

.like-movie {
    position: absolute;
    top: 16px;
    right: 13px;
}